@import "reset.css";

body 
{
    font-family: 'Ubuntu';
    /* overflow-x: hidden;
    overflow-y: hidden; */
}

.snowflake{
    font-size: 20px;
    border-radius: 50%;
    color: snow;
    position: absolute;
    top: -20px;
}

/* @keyframes = 애니메이션 제어 */
@keyframes fall {
    0%{
        transform: translateY(0);
    }
    20%{
        transform: translate(-15px, 20vh);
    }
    40%{
        transform: translate(15px, 40vh);
    }
    60%{
        transform: translate(-15px, 60vh);
    }
    80%{
        transform: translate(0,80vh);
    }
    100%{
        transform: translateY(100vh);
    }
}
.hidden 
{
    display: none;
}

#container
{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* image */
#container #image
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#container #banner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* weather */
#container #banner #weather
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:10px;
    color: rgba(233, 233, 233, 0.623);
    font-weight: 800;
    border-radius: 50px;
}
#container #banner #weather .temp-icon
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#container #banner #weather .temp-icon img
{
    width: 60px;
    height: 60px;
}

/* welcome */
#container #banner #login #login-content
{
    display: flex;
    align-items: center;
}

/* bubble */
#container #banner #welcome
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: rgb(92,92,92);
    background-color: rgba(233, 233, 233);
    border: 0;
    width: 250px;
    height: 20px;
    margin-right: 5px;
    border-radius: 9px;
    font-weight: 510;
}
#container #banner #welcome::after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 0 10px 19px;
    border-color: transparent rgba(233, 233, 233);
    display: block;
    width: 0;
    z-index: 1;
    right: -10px;
    top: 10px;
}

/* sign */
#container #banner #sign
{
    position: relative;
    margin:10px;
    width: 300px;
}

/* sign input */
#container #banner #sign label 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container #banner #sign #name
{
    border: 0;
    border-radius: 15px;
    outline: none;
    padding: 10px;
    background-color: rgb(233, 233, 233);
    text-align: center;
}

#container #banner #sign button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border: 0;
    border-radius: 15px;
    background-color: rgb(233, 233, 233);
}

/* profile */
#container #banner #profile 
{   
    margin-left: 10px;
    background-color: rgb(233,233,233);
    border: 3px solid rgb(233, 233, 233);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-right: 20px;
    transform: scale(.7);
}
#container #banner #profile:hover
{
    transition: transform 0.3s linear;
    transform:scale(.8);
    border-radius: 50px;
}
#container #banner #profile #img-content
{
    position: relative; 
    width: 60px;
    height: 60px;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
/* center item */
#container #content
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* clock */
#container #content #clock
{
    font-size: 92px;
    border-radius: 5px;
    color: rgba(233, 233, 233, 0.397);
}

/* todo input*/
#container #todo-content
{
    position: absolute;
    right: 100px;
    display: flex;
    margin-left: 5px;
    flex-direction: column;
}
#container #todo-content #input-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 233);
    width: 250px;
    height: 30px;
    border-radius: 30px;
    padding: 2px;
}
#container #todo-content #input-icon button
{
    color: rgb(92,92,92);
    border: 0;
}
#container #todo-content #todo-form #todo
{
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: transparent;
    text-align: center;
}
#container #todo-content #todo-form button
{
    color: rgb(92,92,92);
    border: 0;
    background-color: transparent;
    
}
#container #todo-content #ul-content
{
    /* display: flex;
    flex-direction: column; */
    margin: 10px 10px 0 10px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    /* padding-bottom: 50px; */

}

#container #todo-content #ul-content #todo-list{
    display: flex;
    flex-direction: column-reverse;
}
#container #todo-content #ul-content #todo-list p {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    color: rgb(92,92,92);
}
/* ul grid */

#container #ul-content li
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px;
    /* margin-top: 10px; */
    color: rgb(92,92,92);
    border-block-end: 1px solid rgba(92, 92, 92, 0.205);
}
#container #ul-content li button {
    color: rgb(92,92,92);
    font-size: 17px;
    font-weight: 800;
}

#container #ul-content li span
{
    display: flex;
    align-items: center;
}
#container #ul-content li button{
    border: 0;
    background-color: transparent;
}

#container #bottom 
{
    position: absolute;
    left: 0;
    bottom: 0;
}

/* quote */
#container #bottom #quote
{
    display: flex;
    flex-direction: column;
    color: rgb(233, 233, 233);
    padding: 20px;
    font-weight: 500;
}

/* Changebtn wallpaper */
#container #icon-item
{
    position: absolute;
    right: 20px;
    bottom: 20px;
    
}
#container #icon-item button
{
    border: 0;
    background-color: transparent;
    /* border-radius: 30px; */
}
#container #icon-item .fa-solid
{
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    color: rgb(233,233,233);
}

